/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

* {
  font-family: "Rajdhani", sans-serif;
}
.global-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  min-width: 100vw;
}
